@{
    ViewData["Title"] = "Home Page";
}

<style>
    .body-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        max-width: 100%;
    }
</style>

<div class="row" style="margin-left:0; margin-right:0;">
    <img src="~/Image/logo.png" class="img-responsive" style="width:100%; padding:0;"/>
</div>
<br/>

<div class="container">
    @foreach (var item in ViewBag.DisplayArticles)
    {
        <div class="row">
            <div class="bg-light rounded-3 p-5 mb-4">
                <div class="row">
                    <div class="cool-md-8">
                        <h1 class="font-roboto fw-bold">@item.Title</h1>
                        <h3 class="font-montserrat">@item.Content</h3>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

