@model OpenDiscussion.Models.ApplicationUser

<div class="card" style="width: 18rem;">
    <img src=@Model.Profile.Avatar class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.DisplayName</h5>
        <p class="card-text">@Model.Profile.Description</p>
        <a href="#" class="btn btn-primary">Edit your profile</a>
    </div>
</div>