@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<a class="btn btn-success" href="/Categories/New">Adauga o noua categorie</a>
<br />
<br />

@foreach (var category in ViewBag.Categories)
{
    <div class="card">

        <div class="card-body">
            <h3>@category.Name</h3>
            <div class="w-75 p-3" style="background-color: #eee;">@category.Description</div>
        </div>

        <div class="d-flex flex-row gap-3">
            <a class="btn btn-success" href="/Categories/Edit/@category.CategoryId">Editare categorie</a>

            <form method="post" action="/Categories/Delete/@category.CategoryId">

                <button class="btn btn-outline-danger p-2" type="submit"><i class="bi bi-trash">Sterge</i></button>

            </form>
        </div>
    </div>
    <br />
}