@model OpenDiscussion.Models.Discussion

<h2 class="text-center mt-5">Editare discutie</h2>
<form method="post" action="/Discussions/Edit/@Model.DiscussionId">
    @Html.Label("Title", "Titlu")
    <br />
    @Html.Editor("Title")
    <br /><br />
    @Html.Label("Content", "Continut discutie")
    <br />
    @Html.Editor("Content")
    <br />
    <button class="btn btn-success" type="submit">Modifica discutia</button>
</form>