@model OpenDiscussion.Models.Discussion

<a class="btn btn-success" href="/Discussions/New/@ViewBag.DiscussionTopicId">Adauga o noua discutie</a>
<br />
<br />

<br />
<div>
    <a class="btn btn-success" href="/Topics/Index/@ViewBag.DiscussionCategoryId">Inapoi</a>
</div>
<br />
<br />

@if (TempData.ContainsKey("Message"))
{
    <p>@TempData["Message"]</p>
    <br/>
}
@foreach(OpenDiscussion.Models.Discussion discussion in ViewBag.Discussions) {
    <a href="/Discussions/Show/@discussion.DiscussionId" class="text-decoration-none text-muted">
        @Html.Partial("Card", discussion)
    </a>
}